---
layout: default
---
	<div class="col-lg-8 col-md-8 col-sm-8 ">
    	<div class="videoWrapper">

                {{ page.videos[0] }}

        </div>
      <h6 class="authors">{{ page.authors[0] }}</h6>
    	<div class="videoWrapper">

                {{ page.videos[1] }}
        </div>
       <h6 class="authors">{{ page.authors[1] }}</h6>
    	<div class="videoWrapper">

                {{ page.videos[2] }}
        </div>
        <h6 class="authors">{{ page.authors[2] }}</h6>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 ">
              
              <div class="text">
                
                      <h4>{{ page.title }}</h4>
                      {{ page.content }}
                 
              </div>
              
            </div>
